@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

h1 {
    font-family: "Jost", sans-serif;
    font-size: 4em;
    font-weight: 500;
    text-transform: uppercase;
}

h2 {
    font-style: italic;
    font-weight: 400;
}

body {
    color: white;
    font-family: "Jost", sans-serif;
    background-color: #7E8E21;
}

.full-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.centers-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%
}


.section-olive {
    width: 65%;
    text-align: justify;
    padding: 7em 0;
}

.section-method {
    background-color: #F4F0D7;
    color: #876029;
    padding: 10% 17.5%;
}

.section-charts {
    align-items: center;
    padding: 4em 0;
    display: flex;
    flex-wrap: wrap;
}

footer {
    background-color: #435A12;
    color: #f3ebad;
    padding: 10% 17.5%;
}