@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #8b703e;
    background-color: #fcf4e7;
}

main, header, section, footer {
    padding: 1em 2em 5em;
}

.nav-link, .nav-link:visited {
    text-transform: lowercase;
    letter-spacing: 1.2px;
    padding: 1em;
    font-weight: 800;
    color: #DE5D0A;
}

.nav-link:hover {
    color: rgb(223, 148, 35);
}


h1 {
    font-family: "Instrument Serif", serif;
    color: #7b8f24;
    font-size: 60px;
    text-align: center;
    padding-top: 40px;
    font-style: italic;
    text-transform: lowercase;
}

.divider, .divider2 {
    font-family: "Instrument Serif", serif;
    color: #DE5D0A;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 3em;
    width: 100%;
}

.divider{
    padding: 20px 0 30px 0;
}

.divider2 {
    padding-top: 10px;
}
  
.divider::before, .divider::after, .divider2::after {
    content: '';
    height: 3px;
    background: #DE5D0A;
    flex: 1;
}

.divider::before {
    margin-right: .25em;
}

.divider::after, .divider2::after {
    margin-left: .25em;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 17px;
    padding-top: 10px;
}

.exp-info {
    padding-left: 30px;
}

.hero-text, .bio-text {
    font-size: 25px;
    letter-spacing: 1px;
    text-align: justify;
}

.hero-text {
    font-size: 28px;
    padding-left: 2em;
}

.bio-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4em 0 3em;
}

.featured-clips img {
    max-width: 100% ;
    height: auto;
    margin: 10% 10% 10% 0;
}

.featured-clips a {
    text-decoration: none;
    color: #8b703e;
    font-size: 15px;
}

.featured-clips a b { 
    letter-spacing: 1.5px; 
    text-transform: uppercase;
    font-weight: 800;
}

.experience-sec b { 
    text-align: center;
    display: block; 
}

.experience {
    margin-bottom: 50px;
    line-height: 2;
}

.experience img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

main.border {
    border-width: 10px;
    border-style: solid;
    border-color: #8b703e;
    line-height: 1.8;
    padding: 50px;
}

.resume-sec {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

article {
    padding: 10px 0 5px 10px;
}