img {
    width: 600px;
    border-radius: 20px;
}

body {
    background-color: #fff6e0;
    font-family: 'Garamond';
    line-height: 1.5;
    padding: 3em;
}

h1, h2 {
    text-transform: lowercase;
    color: #930f07;
    letter-spacing: 0.2em;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

.details {
    background-color: #1b4817;
    color: #fff6e0;
    margin: 1em 0 2.5em 2.5em;
    padding: 2em 2.5em 2.5em 2.5em;
    border-radius: 20px;
}


